@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;

  letter-spacing: 0.5px;
  font-smooth: subpixel-antialiased;
}
body {
  color: #8c8c8e;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 12px;
}



/* .pulse:before {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 1px;
  background: #fafafc;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  -webkit-animation: puls 1s infinite;
  animation: pulse 1s infinite;
} */
